option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "aws_django.settings"
    "PYTHONPATH": "/opt/python/current/app/iotd:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "aws_django/wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"