{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Yim Machine Learning</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'projects/bootstrap.min.css' %}">

  <!-- Custom fonts for this template -->
  <link href="{% static 'projects/all_new.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'projects/simple-line-icons_new.css' %}">
  <link href="{% static 'projects/fonts/googleapis_Lato.txt' %}" rel="stylesheet">
  <link href="{% static 'projects/fonts/googleapis_Catamaran.txt' %}" rel="stylesheet">
  <link href="{% static 'projects/fonts/googleapis_Multi.txt' %}" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'projects/device-mockups.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'projects/new-age.min.css' %}" rel="stylesheet">
<style>
header.masthead{position:relative;width:100%;padding-top:150px;padding-bottom:100px;color:#fff;background:url({% static 'projects/images/bg-pattern.png' %}),#7b4397;background:url({% static 'projects/images/bg-pattern.png' %}),linear-gradient(to left,#7b4397,#dc2430)}
</style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Yim Machine Learning</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Eric Yim<br>Machine Learning Engineer</h1>
            	<a href="#projects" class="btn btn-outline btn-xl js-scroll-trigger">See My Work!</a> 
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <!--<img src="img/demo-screen-1.jpg" class="img-fluid" alt="">-->
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary text-center features" id="projects">
    <div class="container">
<div class="section-heading text-center">
        <h2>Unlimited Learning!</h2>
        <p class="text-muted">Check out what Yim can do for your business!</p>
        <hr>
      </div>
      <div class="row">

{% if projects %}



        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">


{% for p in projects %}
              <div class="col-lg-4">
		
                <div class="feature-item">
		  
                  <i class="icon-screen-smartphone text-primary"></i>
		<a href="{% url 'projects:detail' p.url_str %}">
                  <h3>{{ p.description }}</h3>
                  <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
		</a>
                </div>
                
              </div>
{% endfor %}

            </div>

          </div>
        </div>

{% endif %}


        
      </div>
    </div>
  </section>

  <section class="download features" id="about">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div>			<!-- <div class="device-mockup iphone6_plus portrait white"> -->
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'projects/images/10670092-original.jfif' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
	<div class="col-lg-8 mx-auto">
          <h2 class="section-heading">Discover what all the buzz is about!</h2>
          <p>Something about Eric</p>
          
        </div>



      </div>
    </div>
  </section>
<style>
section.cta{position:relative;padding:250px 0;background-image:url({% static 'projects/images/bg-cta.jpg' %})
</style>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Stop searching.<br>Start building.</h2>
        <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>Create together!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-facebook">
          <a href="https://www.linkedin.com/in/yimeric/">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="list-inline-item social-twitter">
          <a href="https://github.com/eric-yim/">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; Yim ML 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <!-- <li class="list-inline-item">-->
          <!--<a href="#">Privacy</a>-->
        <!--</li> -->

      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'projects/jquery.min.js' %}"></script>
  <script src="{% static 'projects/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'projects/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'projects/new-age.min.js' %}"></script>

</body>

</html>
